annotated-types==0.7.0
certifi==2026.6.17
cfgv==3.5.0
charset-normalizer==3.4.9
distlib==0.4.3
dnspython==2.8.0
email-validator==2.3.0
filelock==3.31.2
freezegun==1.5.5
identify==2.6.19
idna==3.18
iniconfig==2.3.0
nodeenv==1.10.0
numpy==2.4.6
packaging==26.2
pandas==3.0.3
platformdirs==4.10.1
pluggy==1.6.0
pre_commit==4.6.0
pydantic==2.13.4
pydantic_core==2.46.4
Pygments==2.20.0
pytest==9.1.1
pytest-datafiles==3.0.1
pytest-mock==3.15.1
pytest_freezer==0.4.9
python-dateutil==2.9.0.post0
python-discovery==1.4.4
PyYAML==6.0.3
requests==2.34.2
-e git+ssh://git@github.com/eboileau/scimodhub.git@5ae0d7372dc8d4c7eb41601ae87b094b72521bf2#egg=scimodhub
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.16.0
urllib3==2.7.0
virtualenv==21.6.1
