annotated-types==0.7.0
certifi==2026.4.22
charset-normalizer==3.4.7
dnspython==2.8.0
email-validator==2.3.0
idna==3.13
iniconfig==2.3.0
numpy==2.4.4
packaging==26.2
pandas==3.0.2
pluggy==1.6.0
pydantic==2.13.3
pydantic_core==2.46.3
Pygments==2.20.0
pytest==9.0.3
pytest-datafiles==3.0.1
pytest-mock==3.15.1
python-dateutil==2.9.0.post0
PyYAML==6.0.3
requests==2.33.1
six==1.17.0
typing-inspection==0.4.2
typing_extensions==4.15.0
urllib3==2.6.3
